<?
require_once("library_includes.php");

$CONFIG = array(

	"debug" => true,
	"DB_debug" => true,

	"db_host" => "localhost",
	"db_username" => "magicaster",
	"db_password" => "magicaster",
	"db_database" => "magicaster",
	"db_port" => "3306",
	"db_table_prefix" => "magicaster_",
	
	"mc_servers" => array(
	),
	"mc_key_prefix" => "magicaster_"
	
);