/*
 * Use mozilla extension to target only firefox
 * Documentation: https://developer.mozilla.org/en/CSS/@-moz-document
 *
 */
@-moz-document url-prefix() {
    
	/* Replace the buggy box-shadow declaration with simple borders */
	fieldset {
		box-shadow: 0px 0px 0px #000;
		border-top: 1px solid #b5b89a;
		border-left: 1px solid #b5b89a;
		border-bottom: 1px solid #f1e7d9;
		border-right: 1px solid #f1e7d9;
	}
	
}